{
  "keybindings": {
    "AdapterChange": "a",
    "AdapterToggleDiscoverable": "S",
    "AdapterTogglePairable": "P",
    "AdapterTogglePower": "o",
    "AdapterToggleScan": "s",
    "Cancel": "Ctrl+x",
    "Close": "Escape",
    "DeviceAudioProfiles": "A",
    "DeviceBlock": "b",
    "DeviceConnect": "c",
    "DeviceInfo": "i",
    "DeviceNetwork": "n",
    "DevicePair": "p",
    "DeviceRemove": "d",
    "DeviceSendFiles": "f",
    "DeviceTrust": "t",
    "Help": "?",
    "Menu": "Alt+m",
    "NavigateBottom": "PgDn",
    "NavigateDown": "Down",
    "NavigateLeft": "Left",
    "NavigateRight": "Right",
    "NavigateTop": "PgUp",
    "NavigateUp": "Up",
    "PlayerHide": "M",
    "PlayerNext": ">",
    "PlayerPrevious": "<",
    "PlayerShow": "m",
    "PlayerStop": "]",
    "PlayerTogglePlay": "Space",
    "ProgressTransferCancel": "x",
    "ProgressTransferResume": "g",
    "ProgressTransferSuspend": "z",
    "ProgressView": "v",
    "Quit": "q",
    "Select": "Enter",
    "Switch": "Tab"
  },
  "theme": {
    "Background": "$THEME_bg",
    "Text": "$THEME_fg",
    "Border": "$THEME_border_med",
    "Adapter": "$THEME_accent",
    "Device": "$THEME_fg",
    "DeviceConnected": "$THEME_ansi_green",
    "DeviceDiscovered": "$THEME_ansi_cyan",
    "DeviceType": "$THEME_muted",
    "DeviceProperty": "$THEME_muted",
    "DevicePropertyConnected": "$THEME_ansi_green",
    "DevicePropertyDiscovered": "$THEME_ansi_cyan",
    "MenuBar": "$THEME_bg_alt",
    "Menu": "$THEME_fg",
    "MenuItem": "$THEME_accent",
    "ProgressBar": "$THEME_accent",
    "ProgressText": "$THEME_fg",
    "StatusInfo": "$THEME_accent",
    "StatusError": "$THEME_urgent"
  }
}
