{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/master/doc/json_schema.json",
  "logo": {
    "padding": {
      "right": 3
    },
    "color": {
      "1": "${THEME_muted}",
      "2": "${THEME_muted}"
    }
  },
  "display": {
    "separator": "  ",
    "color": {
      "keys": "${THEME_accent}",
      "title": "${THEME_accent}"
    },
    "percent": {
      "color": {
        "green": "${THEME_secondary}",
        "yellow": "${THEME_secondary}",
        "red": "${THEME_secondary}"
      }
    }
  },
  "modules": [
    {
      "type": "title",
      "color": {
        "user": "${THEME_accent}",
        "at": "${THEME_accent}",
        "host": "${THEME_accent}"
      }
    },
    {
      "type": "separator",
      "string": "─",
      "outputColor": "${THEME_fg}"
    },
    "os",
    "kernel",
    "host",
    "uptime",
    "packages",
    "shell",
    "wm",
    "terminal",
    "font",
    "cpu",
    "gpu",
    "memory",
    "disk",
    "battery",
    "break",
    "colors"
  ]
}
