# class                 border                     backgr.                    text            indicator                  child_border
client.focused          ${THEME_accent}            ${THEME_accent}            ${THEME_accent_text}  ${THEME_accent}            ${THEME_accent}
client.focused_inactive ${THEME_accent_muted}      ${THEME_accent_muted}      ${THEME_fg}     ${THEME_accent_muted}      ${THEME_accent_muted}
client.unfocused        ${THEME_border_unfocused}  ${THEME_border_unfocused}  ${THEME_muted}  ${THEME_border_unfocused}  ${THEME_border_unfocused}
client.urgent           ${THEME_urgent_dark}       ${THEME_urgent_dark}       ${THEME_urgent_text}  ${THEME_urgent_dark}       ${THEME_urgent_dark}
