[colors.primary]
background = "${THEME_bg_alt}"
foreground = "${THEME_fg_soft}"

[colors.normal]
black   = "${THEME_ansi_black}"
red     = "${THEME_ansi_red}"
green   = "${THEME_ansi_green}"
yellow  = "${THEME_ansi_yellow}"
blue    = "${THEME_ansi_blue}"
magenta = "${THEME_ansi_magenta}"
cyan    = "${THEME_ansi_cyan}"
white   = "${THEME_ansi_white}"

[colors.bright]
black   = "${THEME_ansi_bright_black}"
red     = "${THEME_ansi_bright_red}"
green   = "${THEME_ansi_bright_green}"
yellow  = "${THEME_ansi_bright_yellow}"
blue    = "${THEME_ansi_bright_blue}"
magenta = "${THEME_ansi_bright_magenta}"
cyan    = "${THEME_ansi_bright_cyan}"
white   = "${THEME_ansi_bright_white}"
