return {
    default_color     = '${THEME_fg_bare}',
    color1            = '${THEME_accent_bare}',
    color2            = '${THEME_secondary_bare}',
    color3            = '${THEME_muted_bare}',
    color4            = '${THEME_urgent_bare}',
    own_window_colour = '${THEME_bg_bare}',
    border_r          = ${THEME_border_r},
    border_g          = ${THEME_border_g},
    border_b          = ${THEME_border_b},
}
